<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>Editar Categoria - {{category.name}}</h5>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Digite o Nome" aria-describedby="helpId" required
                [(ngModel)]="category.name">
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </modal>
</form>
